<!doctype html>
<html>
<head>
    <title>Welcome to <%= appName %></title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Welcome to <%= appName %></h1>
    <p><a href="/about">About</a></p>
    <p><a href="/search">Search Assignments</a></p>
    <p><a href="/add-assignment">Add Assignment</a></p>
    <p><a href="/progress">View Progress</a></p>
    <p><a href="/calendar">View Calendar</a></p>
    <p><a href="/register">Register </a></p>
    <p><a href="/sign-in">Sign in </a></p>
</body>
</html>