body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    color: rgb(116, 0, 139);
}

a {
    color: rgb(251, 0, 255);
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: rgb(251,0,255);
    padding: 5px;
}
